p{
    color:brown;
}
*{
    color:aqua;
}
#sms{
    color:black; 
}
.bluetext{
    color:blueviolet;
}
div>p{
    color:darkorange;
}
div a{
    color:black;
}
h1~h3{
    color:chartreuse;
} 
h1+h2{
    color:darkslategray;
}