.para1{
    background-color:aquamarine;
}
.para2{
    background-color: brown;
}
.para3{
    background-color:bisque;
}
@media all and (min-width:801px){
    .container p{
        width:30%;
        float:left;
        padding:10px;
    }
    .para3{
        background-color:aliceblue;
    }
}
@media print{
    body{
        background-color:none;
    }
}