ul{
    list-style-type:circle;
    /* list-style-image: url("/media/border.jpg"); */
}
ol{
    list-style-type: decimal-leading-zero;
}
.list{
    list-style-position: inside;
    list-style: outside square;
}
li{
    margin:10px;
}
table{
    width:300px;
    margin:20px auto 20px auto;
    border:2px solid blue;
    border-spacing:10px 10px;
    border-collapse: collapse;
}
th{
    text-transform:uppercase;
    text-align: left;
    border-bottom: 2px solid black;
    padding:10px;
    border-right: 1px solid blue;
}
td{
    padding:10px;
    border:1px solid blue;
}
.t2{
    width:500px;
    border:4px solid black;
}
tr:nth-child(even){
    background-color: burlywood;
}